 body {
            margin: 0;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #f8f8f8;
            font-family: sans-serif;
        }

        .error-content {
            text-align: center;
        }

        a {
            display: inline-block;
            margin-top: 20px;
            text-decoration: none;
            color: #007bff;
            font-weight: bold;
            font-size: 1.2em;
        }

        a:hover {
            text-decoration: underline;
        }